#!/usr/bin/make -f

# use Go 1.18 as golang-any defaults to Go 1.10, which
# doesn't have new features needed by this package.
export PATH := /usr/lib/go-1.18/bin:$(PATH)

# temporary build path; needed by newer Go.
OUR_GOPATH := $(CURDIR)/.gopath
export GOPATH := $(OUR_GOPATH)
export GOCACHE := $(CURDIR)/.gocache

export DH_GOLANG_BUILDPKG := github.com/GoogleCloudPlatform/guest-agent/google_guest_agent github.com/GoogleCloudPlatform/guest-agent/google_metadata_script_runner github.com/GoogleCloudPlatform/guest-agent/gce_workload_cert_refresh

# GO111MODULE needs to be set to "off" to avoid checking
# modules information online.
export GO111MODULE := off

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang,systemd

override_dh_auto_configure:
	cp -r debian/extra/vendor ./
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags="-s -w -X main.version=$(shell dpkg-parsechangelog -S Version)"

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_systemd_enable:
	dh_systemd_enable google-guest-agent.service
	dh_systemd_enable gce-workload-cert-refresh.timer

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-on-upgrade google-startup-scripts.service google-shutdown-scripts.service gce-workload-cert-refresh.timer

override_dh_clean:
	dh_clean vendor/
